<h1>Editing publication card</h1>

<%= render "form", publication_card: @publication_card %>

<br>

<div>
  <%= link_to "Show this publication card", @publication_card %> |
  <%= link_to "Back to publication cards", publication_cards_path %>
</div>
